.dropdownWrapper {
  display: flex;
  justify-content: flex-start;
  border-radius: none;
  height: 35px;
  border: 1px solid $color-gray-300;
  width: max-content;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid $color-gray-300;

  font-weight: bold;
  color: $color-gray-900;

  &:focus-within {
    border: 1px solid $color-gray-400;
  }

  select,
  option {
    border: 0px;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }
}
