.comboboxWrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-self: flex-start;
  border-radius: 8px;

  :global(.jiMOeR .wrapper) {
    border: 1px solid $color-gray-border;
    border-radius: 8px;

    &:focus-within,
    &:hover {
      box-shadow: none;
    }
  }
}

.combo {
  background-color: $color-white-900;
  box-shadow: 0;
  color: $color-black-900;
  font-size: 16px;
  border-radius: 8px;
  z-index: 2;

  &:focus {
    box-shadow: 0;
  }

  &::placeholder {
    color: $color-gray-200;
  }
}
