// Blue colors
$color-blue-700: #007bff;
$color-blue-600: #3498db;
$color-blue-500: rgba(6, 196, 224, 1);
$color-blue-400: rgba(6, 196, 224, 0.1);
$color-blue-300: rgba(6, 196, 224, 0.15);

// Gray colors
$color-gray-100: #f8f9fa;
$color-gray-200: rgba(193, 193, 193, 0.811);
$color-gray-300: #ddd;
$color-gray-400: #e2e6ea;
$color-gray-500: rgba(245, 255, 247, 1);
$color-gray-600: rgba(245, 255, 247, 0.15);
$color-gray-700: #f5f5f5;
$color-gray-900: #3a3f40;
$color-gray-border: rgb(237, 237, 237);

// White colors
$color-white-900: #fff;

// Black colors
$color-black-900: #333;

// Green colors
$color-green: green;

// Red colors
$color-red: red;
$color-red-100: rgba(255, 96, 57, 0.02);
$color-red-200: rgba(114, 65, 52, 0.05);
