@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply p-16;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html {
    line-height: 1.5;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    line-height: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  button,
  select {
    border: none;
    text-transform: none;
  }
}
