.app {
  display: flex;
  flex-direction: column;
}

.textFieldWrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.searchGuide {
  margin-top: 8px;
  font-size: 14px;
  color: $color-gray-900;

  span {
    font-weight: bold;
    margin: 0 4px;
  }

  .sent {
    color: $color-red;
  }

  .created {
    color: $color-blue-700;
  }
  .received {
    color: $color-green;
  }
}
