.app {
  display: flex;
  flex-direction: column;
}

.titleText {
  font-size: 3.2rem;
  margin-bottom: 32px;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: left;

  @media screen and (max-width: 700px) {
    font-size: 2.4rem;
  }
}
